<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:theme="@style/Theme.FoodHub"
        android:label="FoodHub"
        android:icon="@drawable/logo2">

        <activity android:name=".ProfileActivity" android:exported="false"/>
        <activity android:name=".EditProfileActivity" android:exported="false"/>
        <activity android:name=".ContactSupportActivity" android:exported="false"/>
        <activity android:name=".CheckoutActivity" android:exported="false"/>
        <activity android:name=".CartActivity" android:exported="false"/>
        <activity android:name=".FoodCourtActivity" android:exported="false"/>
        <activity android:name=".ShopActivity" android:exported="false"/>
        <activity android:name=".OtpActivity" android:exported="false"/>
        <activity android:name=".LoginActivity" android:exported="false"/>
        <activity android:name=".AboutUsActivity" android:exported="false"/>
        <activity android:name=".TeamDetailsActivity" android:exported="false"/>
        <activity android:name=".ProjectDescriptionActivity" android:exported="false"/>

        <service android:name=".OrderSMSService" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.foodhub.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>